@import url("https://fonts.googleapis.com/css2?family=Jersey+25+Charted&display=swap");
@import "https://unpkg.com/open-props/easings.min.css" layer(support.demo);

:root {
    --light-gray: #dadada;
    --gray: gray;
    --med-gray: #696969;
    --background-gray: #414141;
    --dark-gray: #121212;
    --blue-ish: #3d85c6;
    --blue-ish-hover: #3d85c695;
    --lime-green: limegreen;
    --white: #fff;
    --cle-shout-out: rgb(216, 216, 216);
}

html,
body,
main {
    height: 100%;
}

::-moz-selection {
    color: #fff;
}

::selection {
    color: #fff;
}

.hero {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: 0;
}

.down-arrow {
    color: var(--white);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo-cover {
    background: url(/images/digital-hero.jpg);
    height: 100%;
    position: relative;
}

.background-primary {
    background-color: #2980b9;
}

.background-secondary {
    background: #16a085;
}

.large {
    font-size: 4em;
}

.medium {
    font-size: 2em;
}

.transparent {
    background: transparent;
}

.navbar-inverse {
    transition: all 0.2s ease-in;
}

.skills-container {
    padding: 15px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.skills-container p {
    margin-bottom: 15px;
}

.skills-container li {
    font-weight: 400;
    padding: 0 10px;
}

.skills-container h4 {
    border-bottom: 5px solid var(--cle-shout-out);
    padding: 10px 0;
}

.skills-container h4:not(:nth-child(1)) {
    padding-top: 3rem;
}

.experience-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--cle-shout-out);
}

/* TODO: Fix last child underline */
/* .experience-container:nth-last-child(2) {
    border-bottom: none;
} */

h1 span {
    color: var(--cle-shout-out);
    position: relative;
    border: 1px solid transparent;
}

h1 span::before {
    content: "";
    height: 6rem;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: var(--cle-shout-out);
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

h1 span.stop-blinking::before {
    animation: none;
}

@keyframes blink {
    50% { opacity: 0 }
}

.skills-container {
    /* cursor: pointer; */
    ul {
        list-style-type: none;
        @media (hover) and (prefers-reduced-motion: no-preference) {
            & > li {
                transform-origin: left center;
                transition: transform 1s var(--ease-spring-3), opacity 0.3s var(--ease-3);
            }
            &:hover > li:not(:hover) {
                opacity: 0.6;
                transform: scale(0.8);
            }
        }
    }
    @layer support.demo {
        * {
            box-sizing: border-box;
            margin: 0;
        }
        html {
            block-size: 100%;
            color-scheme: dark light;
        }
        body {
            min-block-size: 100%;
            font-family: system-ui, sans-serif;
            display: grid;
            place-content: center;
        }
        ul {
            font-size: 2rem;
            font-weight: 200;
        }
    }
} 

/* START TEST using divs and spans */

.skills-container {
    /* cursor: pointer; */
    .skills {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-left: 5rem;
        a {
            color: white;
        }
        @media (hover) and (prefers-reduced-motion: no-preference) {
            & > .skill {
                transform-origin: left center;
                transition: transform 1s var(--ease-spring-3), opacity 0.3s var(--ease-3);
            }
            &:hover > .skill:not(:hover) {
                opacity: 0.6;
                transform: scale(0.8);
            }
        }
    }
    @layer support.demo {
        * {
            box-sizing: border-box;
            margin: 0;
        }
        html {
            block-size: 100%;
            color-scheme: dark light;
        }
        body {
            min-block-size: 100%;
            font-family: system-ui, sans-serif;
            display: grid;
            place-content: center;
        }
        .skill {
            font-size: 2rem;
            font-weight: 500;
        }
    }
} 

/* END TEST */

.footer {
    display: flex !important;
    justify-content: space-around;
    padding: 10px;
}

.footer a {
    color: #fff !important;
}

.footer a:hover {
    color: #16a085 !important;
}